<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes
    RewriteBase /learnweb/

    # biar bisa tangani /folder/file juga (user/profile → Pages/user/profile.php)
    RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ Pages/$1/$2.php [L]

    # kalau hanya 1 segmen → arahkan ke Pages/user/namafile.php
    RewriteRule ^([a-zA-Z0-9_-]+)$ Pages/$1.php [L]
    #setelah /learnweb_proyek1/ kosong → arahkan ke Pages/index.php
    RewriteRule ^$ Pages/index.php [L]
    # fallback: kalau bukan file/folder → lempar ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #kalo Semua request diarahkan ke index.php root → lalu index.php yang nentuin mau include apa
    RewriteRule ^(.*)$ rute.php [L,QSA]
</IfModule>         