
.container-course {
  /* max-width: 1200px;      */
  margin-left: 100px;     
  margin-right: 100px;   
  margin-top: 0;
  margin-bottom: 0;
}
a{
    text-decoration: none;
}
.modul-success {
  width: 80%;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 50px; */
}

.content-modul {
  /* width: 40%; */
  /* height: 35vh; */
  padding: 15px 30px;
  /* background: #ff6c6c; */
  border-radius: 16px;
  border: 1px solid #afafaf;
}

.top-content {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.img-left-modul {
  width: 80px;
  height: 80px;
  background: #d9d9d9;
  border-radius: 12px;
  overflow: hidden;
}

.title-modul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
}

.title-modul span {
  color: #4db029;
  display: flex;
  gap: 10px;
  align-items: center;
}
.title-modul p {
  font-size: 20px;
  font-weight: 600;
}
.title-modul .jam {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
}

.content-modul .desc-modul {
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 1.5;
  text-align: justify;
}

.btn-download {
  /* width: 150px; */
  height: 40px;
  background: #3d3d3d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.line {
  height: 1px;
  background: #afafaf;
  margin: auto;
  margin-top: 30px;
}