.container-profile {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 50px;
  padding: 50px;
  background: #3d3d3d;
  color: white;
}

.img-radius {
  width: 250px;
  height: 250px;
  background: #595959;
  border-radius: 50%;
}

.img-radius img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-profile {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

.detail-profile h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.detail-profile span {
  font-size: 20px;
  font-weight: 400;
  color: #d4d4d4;
}
.detail-profile i {
  font-size: 20px;
  font-weight: 400;
}
.bergabung {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modul-success {
  width: 80%;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 50px; */
}

.content-modul {
  width: 40%;
  height: 35vh;
  padding: 15px 30px;
  /* background: #ff6c6c; */
  border-radius: 16px;
  border: 1px solid #afafaf;
}

.top-content {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.img-left-modul {
  width: 80px;
  height: 80px;
  background: #d9d9d9;
  border-radius: 12px;
  overflow: hidden;
}

.title-modul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
}

.title-modul span {
  color: #4db029;
  display: flex;
  gap: 10px;
  align-items: center;
}
.title-modul p {
  font-size: 20px;
  font-weight: 600;
}
.title-modul .jam {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
}

.content-modul .desc-modul {
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 1.5;
  text-align: justify;
}

.btn-download {
  width: 150px;
  height: 40px;
  background: #3d3d3d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-download:hover {
  background: #595959;
  transition: 0.3s;
}

.line {
  height: 1px;
  background: #afafaf;
  margin: auto;
  margin-top: 30px;
}
.btn_edit {
  /* width: 30%; */
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #676767;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}
