body {
  background: #f4f7fb;
}

/* ===== Kontainer utama ===== */
.main {
  width: 80%;
  margin: auto;
  display: flex;
  flex: 1;
  background: #f4f7fb;
}

/* ===== Sidebar ===== */
.sidebar {
  width: 250px;
  padding: 30px 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.nav-linkk {
  display: block;
  padding: 12px 16px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-linkk:hover,
.nav-linkk.active {
  background: #313131;
  color: #fff;
}

.content {
  flex: 1;
  padding: 40px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.section-title {
  font-size: 26px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 500;
  color: #333;
}

.pilih-foto {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.right p {
  max-width: 60%;
  margin-bottom: 12px;
  font-size: 12px;
  color: #494949;
  /* font-weight: regular; */
}

#foto {
  /* width: 20%; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #313131;
  color: white;
}

.top {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 550;
  font-size: 16px;
}

input,
textarea {
  width: 80%;
  padding: 15px 12px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #313131;
}

button {
  margin-top: 10px;
  padding: 14px 16px;
  border: none;
  background: #313131;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

button:hover {
  background: #6f6f6f;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
}

.hidden {
  display: none;
}