.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_content_1 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header_content_1 {
  font-size: 64px;
  font-weight: 500;
  max-width: 70%;
}

.sub_header_content_1 {
  font-size: 20px;
  max-width: 70%;
  color: #595959;
  font-weight: 400;
}

.btn_content_1 {
  padding: 15px 30px;
  text-decoration: none;
  background-color: #595959;
  color: white;
  width: max-content;
  border-radius: 8px;
  cursor: pointer;
}

.right_content_1 {
  width: 50%;
  padding: 10px;
  /* background-color: red; */
}

.container-2 {
  width: 95%;
  margin: auto;
  padding-top: 100px;
  /* background-color: #595959; */
}

.container-card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.header_content_2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.card_content_2 {
  width: 30%;
  height: 50vh;
  /* background-color: yellow; */
  border: 1px solid #404141;
  border-radius: 14px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.head_card_2 img  {
  object-fit: cover;
  width: 100%;
  height: 200px;
  /* background-color: red; */
  border-radius: 16px;
  overflow: hidden;
}

.btn_card_2 {
  width: 40%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #595959;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/*  */
.container-3 {
  padding-top: 100px;
  /* background-color: #595959; */
  border-bottom: 1px solid #767676;
}

.head-content-3 {
  max-width: 60%;
  margin: auto;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.head-content-3 p {
  color: #595959;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
}

.main-content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 100px;
}

.left {
  width: 45%;
  /* height: 300px; */
}
.box-left {
  height: 90vh;
  /* background-color: red; */
  border-radius: 20px;
  overflow: hidden;
}
.box-left img {
  width: 100%;
  height: 100%;
}

.right {
  padding-top: 50px;
}

.frame_content {
  display: flex;
  gap: 20px;
  /* margin-bottom: 30px; */
  padding: 20px 0;
  border-bottom: 1px solid #d4d4d4;
}

.frame_content .icon {
  width: 80px;
  height: 80px;
  /* background-color: #f0f0f0; */
  border: #595959 1px solid;
  border-radius: 10px;
  border-style: dashed;
  padding: 5px;
}

.icon img {
  width: 100%;
  height: 100%;
}

.frame_content h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Container 4 */
.container-4 {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: #595959; */
  border: 1px solid #595959;
}

.head-content-4 {
  text-align: center;
  margin-bottom: 30px;
}

.head-content-4 h4 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 10px;
}
.head-content-4 p {
  max-width: 50%;
  margin: auto;
  font-size: 20px;
  color: #595959;
  font-weight: 400;
}
.btn-content-4 {
  width: 20%;
  margin: auto;
  padding: 15px 0;
  background-color: #595959;
  color: white;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
.btn-content-4:hover {
  background-color: #404141;
}
