* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  overflow-y: hidden;
  justify-content: space-between;
  /* background: #f5f5f5; */
}

.left {
  width: 45%;
  height: 100vh;
  /* padding: 20px 0 20px 0; */
  background-color: #d2d2d2;
  border-radius: 0 80px 80px 0;
}

.left img {
  width: 100%;
  height: 100%; 
  padding-left: 80px;
}

.right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 70%;
  height: 90vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* gap: 20px; */
}

.header {
  text-align: center;
  padding: 40px 0 0 0;
  font-size: 32px;
  font-weight: 600;
}

.form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 30px;
  padding-top: 20px;
}

.form input {
  width: 93%;
  height: 70px;
  padding: 0 20px 0 20px;
  font-size: 16px;
  border: 1px solid #d4d4d4;
  border-radius: 16px;
}

.lupa-pw {
  font-size: 14px;
  color: #808080;
  text-align: right;
  cursor: pointer;
}

.btn-login {
  width: 93%;
  height: 70px;
  background-color: #595959;
  padding: 0 20px 0 20px;
  border-radius: 16px;
  color: white;
  font-size: 26px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login a {
  text-decoration: none;
  color: white;
}

.register {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form span {
  font-size: 14px;
  color: #808080;
  text-align: center;
}

.regist {
  color: #595959;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}
