* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  transition: 0.5s;
}

.nav {
  padding: 20px;
  /* background-color: #333; */
  border-bottom: 0.5px solid #a6a6a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  gap: 20px;
}

.nav-link a {
  text-decoration: none;
  color: #595959;
  font-weight: 500;
  cursor: pointer;
}

.log-btn {
  display: flex;
  gap: 10px;
}
.regist-btn  {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #595959;
  border-radius: 8px;
}
.login-btn {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #595959;
  border-radius: 8px;
}

/* footer*/
footer {
  width: 85%;
  height: 40vh;
  margin: auto;
  padding-top: 10vh;
  color: #595959;
}

.top-footer {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d4d4;
}

.left-footer {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-footer {
  font-size: 36px;
  font-weight: 600;
}

.desc-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}

.icon_sosmed {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.icon-1 {
  width: 35px;
  height: 35px;
}
.icon-1 img {
  width: 100%;
  height: 100%;
}

.right-footer {
  display: flex;
  flex-direction: column;
  /* gap: 5vh; */
}

.right-footer a {
  text-decoration: none;
  color: #595959;
}

.right-footer a:hover {
  color: #000000;
  text-decoration: underline;
  animation: 0.3s;
}

.link-footer h4 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  /* margin-bottom: 20px; */
}

.link-footer p {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}
.help-footer h4 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 10px;
  /* margin-bottom: 20px; */
}

.help-footer p {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.bottom-footer p {
  font-size: 14px;
}

/*  */
.acc-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.acc-nav span {
  font-size: 16px;
  font-weight: 500;
  color: #595959;
}

.img-acc-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #595959;
}
