:root {
  --primary-color: #ffffff;
  --secondary-color: #bcf665;
  --bg-color: #eef2fb;
  --default-text: #535353;
  --black-text: #000000;
  --gray-color: #b5b5b5;
  
  --global-bg-color: #f9f9fb;
}

.btn-aksi {
  width: fit-content;
  padding: 10px 25px;
  background-color: #595959;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-aksi:hover {
  background-color: #595959;
  transition: 0.3s;
}
.dt-paging {
  justify-content: center; /* pagination ke tengah */
  margin-top: 10px;
}
.dt-paging-button {
  border-radius: 5px;
  margin: 0 3px;
  padding: 10px 20px;
  background-color: var(--primary-color) !important;
  border: none !important;
}

.dt-paging-button:hover{
background-color: #2563eb !important;
}
.dt-paging-button.current {
  background-color: var(--secondary-color) !important;
  color: var(--black-text) !important;
}

table.dataTable {
  /* border-collapse: separate !important; */
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
 
table.dataTable thead tr  {
border-radius: 200px !important;
}
table.dataTable thead th {
  background-color: var(--secondary-color);  
  color: #fff;
  font-weight: 400;  
  padding: 12px 8px;
  border-bottom: 20px solid var(--bg-color) !important; 
}
 
table.dataTable thead th.sorting:hover {
  background-color: #3b82f6;
  cursor: pointer;
}
 
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
  background-color: #2563eb;
  color: #fff;
}


/* 
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 10px;
}
thead {
  border-collapse: collapse;
}
tbody {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: center;
  /* border-bottom: 1px solid #ddd; */

.user-aktif {
  padding: 5px 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.user-nonAktif {
  padding: 5px 15px;
  background-color: #af9d4c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.frame-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.left-card {
  /* width: 65%; */
  /* background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.59); */
  /* display: flex;
  gap: 10px;
  flex-direction: column; */
}
.list-modul {
  padding: 16px;
  background-color: #ffffff;
  margin: 10px ;
  border-radius: 10px;
  /* box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2); */
}
.left-card input,
textarea {
  width: 100%;
  padding: 20px 0 20px 0px;
  /* margin-left: 5px; */
  border-radius: 8px;
  margin-bottom: 20px;
  border: none;
  /* box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2); */
}
.left-card-button {
  width: 100%;
  padding: 10px 25px;
  background-color: #595959;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.right-card {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  /* width: 30%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px; */
} 
 
.frame-list-modul {
  height: 400px;
  overflow-y: scroll;
  /* padding-right: 10px; */
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.list-modul{
word-wrap: break-word;
}

  .right-card{
    border-radius:16px;
  }
  .right-card-h3{
    margin: 20px 20px 20px 0px;
  }
  .list-modul-teks{
    margin: 20px;
  }
  .card-content-tambah{
    margin: 20px;
    background-color:var(--bg-color);
    border-radius:16px; 
  }
  .btn-add-module{
    padding: 10px 20px;
  }

.list-modul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #ddd;
}
.list-modul.dragging {
  opacity: 0.5;
  background: #d0d0d0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.hidden {
  display: none;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
}
.modal-btns {
  margin-top: 10px;
  text-align: right;
}
.modal-btns button {
  margin-left: 6px;
}
