* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
body {
  display: flex;
  overflow-y: hidden;
}
.content {
  width: 85%;
  height: 90vh;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.side-bar {
  width: 15%;
  height: 100vh;
  background-color: #595959;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 50px;
  /* position: fixed; */
  /* align-items: normal; */
}

.nav-link {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.nav-link a:hover {
  color: #ff7f50;
} 
.nav-link a.is-active {
  color: #ff7f50; 
}